<p>You have setup CIPP to send you a custom alert for the audit events that follow this filter: <strong>{{ clause }}</strong></p>

{% if audit_data %}
<h4>Audit Log Data:</h4>
<table class="table-modern">
    <tr><th>Property</th><th>Value</th></tr>
    {% for item in audit_data %}
    <tr><td>{{ item.key }}</td><td>{{ item.value }}</td></tr>
    {% endfor %}
</table>
{% endif %}

{% if actions_taken %}
<h4>Actions Taken:</h4>
<ul>
    {% for action in actions_taken %}
    <li>{{ action }}</li>
    {% endfor %}
</ul>
{% endif %}
