<p>A new inbox rule has been created for the user <strong>{{ user_id }}</strong>. You should check if this rule is not malicious.</p>

{% if rule_table %}
<h4>Rule Details:</h4>
{{ rule_table }}
{% endif %}

{% if location_info %}
<h4>Location Information:</h4>
<table class="table-modern">
    <tr><th>Property</th><th>Value</th></tr>
    {% for item in location_info %}
    <tr><td>{{ item.key }}</td><td>{{ item.value }}</td></tr>
    {% endfor %}
</table>
{% endif %}

<p>If you believe this is a suspect rule, you can click the button below to start the investigation.</p>
