@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

<AuthorizeView>
    <Authorized>
        @ChildContent
    </Authorized>
    <NotAuthorized>
        <div class="d-flex flex-column align-center justify-center" style="height: 100vh;">
            <MudIcon Icon="Icons.Material.Filled.Lock" Size="Size.Large" Color="Color.Primary" Class="mb-4" />
            <MudText Typo="Typo.h4" Class="mb-2">Authentication Required</MudText>
            <MudText Typo="Typo.body1" Class="mb-4 text-center">
                You need to sign in to access this application.
            </MudText>
            <MudButton Variant="Variant.Filled" 
                      Color="Color.Primary" 
                      StartIcon="Icons.Material.Filled.Login"
                      Href="/MicrosoftIdentity/Account/SignIn">
                Sign in with Microsoft
            </MudButton>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}